.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 54px;
}

.product_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-top: 40px;
}

.search_panel {
  display: flex;
  flex-direction: column;
  gap: 43px;
}

.show_more_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.no_items_text {
  margin-top: 50px;
}
