.footer_nav {
  width: 100%;
  background-color: var(--blue-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 0;
}

.footer_nav_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_nav_links {
  display: flex;
  gap: 33px;

  li {
    :hover {
      transition: all 0.3s ease;
      text-decoration: underline;
      color: var(--border-light-grey);
    }
  }
}

.footer_faq {
  height: 445px;
  background-color: var(--blue-primary);
}
