.nav {
  background-color: var(--blue-primary);
  height: var(--navbar-height-s);
  display: flex;
  align-items: center;
  justify-content: center;

  &.m {
    height: var(--navbar-height-m);
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.withBorder {
  border-bottom: 1px solid var(--border-grey);
}

.links {
  display: flex;
  align-items: center;
  gap: 33px;
}

.link {
  :hover {
    transition: all 0.3s ease;
    text-decoration: underline;
    color: var(--border-light-grey);
  }
}

.cart {
  display: flex;
  gap: 6px;
}

.cart_item {
  position: relative;
  bottom: 8px;
}

.cart_item_counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  background-color: var(--button-primary-color);
  position: absolute;
  top: 19px;
  left: 12px;
  color: var(--white);
  font-size: 8px;
  border-radius: 50%;
}
