.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.description {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button {
  position: absolute;
  right: 0;
  bottom: 0;
}
